<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <!-- For jQuery -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{{title|safe }}</title>


</head>

<body>

        <nav class="navbar navbar-expand-md  bg-light  navbar-light">

            <a class="navbar-brand" href="#">
                    <img src="https://cdn3.iconfinder.com/data/icons/rcons-social/32/facebook_fb_social_social_media-512.png" alt="Logo" style="width:40px;">
            </a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                <a class="nav-link" href="#">About</a>
                </li>

                {% if title != "FB Page Manager" %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'fbapp:dashboard' %}">Dash</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">

                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Location
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">San Jose, CA</a>
                    <a class="dropdown-item" href="#">Banglore, IN</a>
                    <a class="dropdown-item" href="#">Raipur, IN</a>
                  </div>

                </li>

                <li class="nav-item">
                <a class="nav-link " id="logout" href="#">Logout</a>

                </li>
                {% endif %}
            </ul>

        </nav>



    <script>
        window.fbAsyncInit = function() {
        FB.init({
        appId      : '478903395879174',
        cookie     : true,
        xfbml      : true,
        version    : 'v3.0'
        });

        FB.AppEvents.logPageView();

    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }

        function statusChangeCallback(response) {
            if(response.status=='connected') {
                var accessToken=response.authResponse.accessToken;
                document.getElementById("access_token").value=accessToken;
                document.getElementById("loginform").submit();
            }
            // else {
            // 	alert('Please login to continue!!!');
            // }
        }




    </script>


 <!-- jQuery script functions -->

<script type="text/JavaScript">

    $(document).ready(function(){

        $('#logout').click(function() {
            console.log('Logout CLICKEEEEEEEEDDDD');

            FB.getLoginStatus(function(response) {

                if (response && response.status === 'connected') {

                    FB.logout(function(response) {
                         document.location='/';
                    });
                }
                                         document.location='/';

            });

        });





        $('#editPage').click(function(){
            document.getElementById("modal_edit_button").hidden = false;
            document.getElementById("general_info").disabled = false;
            document.getElementById("company_overview").disabled = false;
            document.getElementById("phone").disabled = false;
            document.getElementById("about").disabled = false;
            document.getElementById("bio").disabled = false;
            document.getElementById("website").disabled = false;
            document.getElementById("emails").disabled = false;
            document.getElementById("description").disabled = false;
            document.getElementById("city").disabled = false;
            document.getElementById("state").disabled = false;
            document.getElementById("country").disabled = false;
            document.getElementById("zip").disabled = false;
            document.getElementById("street").disabled = false;
            document.getElementById("editPage").hidden = true;
        });

    $('#modal_edit_button').click(function() {
      //var dr={'access_token':document.getElementById("pageToken").value, 'pageId':document.getElementById("id").value, 'csrfmiddlewaretoken': '{{ csrf_token}}'};
      var d={'csrfmiddlewaretoken': '{{ csrf_token}}','access_token':document.getElementById("pageToken").value, 'pageId':document.getElementById("id").value};
      var c=0;
      var dl={};
      var flag=1;
      if(document.getElementById("phone").value != "")
      {
        if(document.getElementById("phone").value.length==10 && !isNaN(document.getElementById("phone").value))
        {
          d['phone']= document.getElementById("phone").value;
          c+=1;
        }
        else
        {
          alert("please enter a valid 10 digit phone number!!!");
          flag=0;
        }
      }
      if(document.getElementById("general_info").value != "")
      {
          c+=1;
          d['general_info']= document.getElementById("general_info").value; 
      }
      if(document.getElementById("about").value != "")
      {
          c+=1;
          d['about']= document.getElementById("about").value; 
      }
      if(document.getElementById("bio").value != "")
      {
          c+=1;
          d['bio']= document.getElementById("bio").value; 
      }
      if(document.getElementById("website").value != "")
      {
        var re = /^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/;
        if(re.test(document.getElementById("website").value))
        {
          c+=1;
          d['website']= document.getElementById("website").value;
        }
        else
        {
          alert("please enter a valid website!!!");
          flag=0;
        }
      }
      if(document.getElementById("emails").value != "")
      {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(re.test(document.getElementById("emails").value))
        {
          c+=1;
          d['emails']= [document.getElementById("emails").value];
        }
        else
        {
          alert("please enter a valid email!!!");
          flag=0;
        }
      }
      if(document.getElementById("description").value != "")
      {
          c+=1;
          d['description']= document.getElementById("description").value; 
      }
      if(document.getElementById("company_overview").value != "")
      {
          c+=1;
          d['company_overview']= document.getElementById("company_overview").value; 
      }
      
      if(document.getElementById("city").value != "")
      {
          c+=1;
          dl['city']= document.getElementById("city").value; 
      }
      if(document.getElementById("state").value != "")
      {
          c+=1;
          dl['state']= document.getElementById("state").value; 
      }
      if(document.getElementById("country").value != "")
      {
          c+=1;
          dl['country']= document.getElementById("country").value; 
      }
      if(document.getElementById("street").value != "")
      {
          c+=1;
          dl['street']= document.getElementById("street").value; 
      }
      if(document.getElementById("zip").value != "")
      {
          c+=1;
          dl['zip']= document.getElementById("zip").value; 
      }
      console.log(d);
      d['location']= dl;
      //d = $.param(d);
      if(c!=0 && flag!=0)
      {
       // var xhttp = new XMLHttpRequest();
       //  xhttp.onreadystatechange = function() {
       //    if (this.readyState == 4 && this.status == 200) {
       //      var r=JSON.parse(this.responseText);
       //      console.log(r);
       //      if(r['success'])
       //      {
       //        alert('done');
       //      }
       //      else
       //      {
       //        alert(r['error']['message']);
       //      }
       //    }
       //  };
       //  var url=document.getElementById("id").value;
       //  xhttp.open("POST", "https://graph.facebook.com/", true);
       //  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
       //  xhttp.send(d);
       var url="/"+document.getElementById("id").value;
       FB.api(url,'post',d, function(response) {
          console.log(response);
          if(response['success'])
            {
              alert('done');
            }
            else
            {
              alert(response['error']['message']);
            }
        });
      }
      
    });

        var x={{ pages|safe }};
        var y={{ personal|safe }};
        // var mega_details = {{ mega_details|safe}};
        // console.log("MEGAAAA")
        // console.log(mega_details)
        // console.log("MEGAAAA ENDEDDDDD")

        // var cf={{ csrf_token }};
        // console.log(csrf);
        // document.getElementById("welcome").innerHTML='Welcome, '+y.name;
        x=x.data;
        console.log(x);
        $.each(x, function (i, v) {
            //list += '<li class="page" id="'+i+'">' + '<a>' + v.name + '</a></li>'
            console.log(v);
            var button='<td><button data-toggle="modal" data-target="#modal1" class="btn-outline-primary btn page modal-trigger" id="' + i + '">Update</button></td></tr>';
            var name='<td>' + v.name +'</td>';
            var ph='<td>'+ v.phone + '</td>';
            // var location='<td>' + v.location+'</td>';
            // console.log(v.location);
            var row='<tr><td> <i class="fa fa-facebook-official" style="font-size:36px; padding: 4px; background: #3b5998; color: white;"></i> </td>  <td>Facebook</td>'+name+'<td>Raipur</td><td>9876543210</td><td>4/5</td><td>No</td><td><i class="material-icons green-text text-darken-4">check</i></td>' + button;
            $('#tabl tr:last').after(row);
        });


        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.page').click(function() {
            $('input').val('');
            document.getElementById("modal_edit_button").hidden = true;
            document.getElementById("general_info").disabled = true;
            document.getElementById("company_overview").disabled = true;
            document.getElementById("phone").disabled = true;
            document.getElementById("about").disabled = true;
            document.getElementById("bio").disabled = true;
            document.getElementById("website").disabled = true;
            document.getElementById("emails").disabled = true;
            document.getElementById("description").disabled = true;
            document.getElementById("city").disabled = true;
            document.getElementById("state").disabled = true;
            document.getElementById("country").disabled = true;
            document.getElementById("zip").disabled = true;
            document.getElementById("street").disabled = true;
            document.getElementById("editPage").hidden = false;
        var id = $(this).attr('id');
        console.log("HIIIIIIIIIIIIIIIIIIII")
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          console.log(this.responseText);
          var res=JSON.parse(this.responseText);
          
          document.getElementById('name_modal').innerHTML=res['name'];
          $.each(res, function(key, value) {
              if(key=='location')
              {
                // var temp='';
                $.each(res.location, function(k,v) {
                  // temp+=k+': '+v+' ';
                  if(k=='name' || k=='latitude' || k=='longitude')
                  {
                    ;
                  }
                  else
                  {
                    document.getElementById(k).value=v;
                  }
                });
               // document.getElementById(key).value=temp;
              }
              else{
              document.getElementById(key).value=value;
            }
          });

            document.getElementById("pageToken").value=x[parseInt(id)].access_token;
            }
        };
        var parm='pageId='+x[parseInt(id)].id + '&pageToken=' + x[parseInt(id)].access_token + '&csrfmiddlewaretoken=' + '{{csrf_token}}';
        // console.log(parm);
        xhttp.open("POST", "/fbapp/page_detail", false);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(parm);

        });







    });

</script>

    <div class="container">
        <div class="row">

            <div class="col-md-12">

                {% block content %}

                {% endblock %}

            </div>

        </div>

    </div>


</body>

</html>