
{% extends "fbapp/base.html" %}

{%  block content %}

 <div id="main_cont" class="container">







<table id="tabl" class="table thead-dark  table-hover" align="center">

    <thead>
          <tr>
              <th>Source</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Rating</th>
              <th>Listed</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Google</td>
            <td>Test</td>
            <td>Delhi</td>
            <td>111-111-1111</td>
            <td>3/5</td>
            <td>No</td>
            <td><i class="material-icons red-text text-darken-4">clear</i></td>
            <td></td>
          </tr>
          <tr>
            <td>Yahoo!</td>
            <td>Test</td>
            <td>Delhi</td>
            <td>111-111-1111</td>
            <td>4/5</td>
            <td>No</td>
            <td><i class="material-icons red-text text-darken-4">clear</i></td>
            <td></td>
          </tr>
          <tr>
            <td>Yelp</td>
            <td>Test</td>
            <td>Delhi</td>
            <td>111-111-1111</td>
            <td>3/5</td>
            <td>No</td>
            <td><i class="material-icons red-text text-darken-4">clear</i></td>
            <td></td>
          </tr>
        </tbody>
      </table>


</div>

<a id="asd" href="/fbapp/update_form?id=" target="_blank">
Google
</a>

{{pages}}
<br><br>
{{personal}}
<br><br><br><br>


<!-- --------------------------------  modal below -------------------- -->

 <!-- The Modal -->
 <div class="modal modal-lg" id="modal1">
    <div class="modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="name_modal"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..

          <div class="row">
            <p id="is_published_modal" > </p>
          </div>


        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

        <input id="id" type="text" class="validate" hidden>
          <input id="pageToken" type="text" hidden>

      </div>
    </div>
  </div>


{% endblock %}