
{% extends "fbapp/base.html" %}

{%  block content %}

 <div id="main_cont" class="container">




<br>
    <p style="font-size: 24px;">Listings</p>

<div class="row">
  <div class="col-md-10">
    <input class="form-control" id="search_input" type="text" placeholder="Search Listings..">
  </div>
  <div class="col-md-2" align="end">
      <div class="dropdown">
          <button type="button" id = "dropdown_text" class="btn btn-md btn-outline-primary dropdown-toggle" data-toggle="dropdown">
          San Jose, CA
          </button>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="#">San Jose, CA</a>
              <a class="dropdown-item" href="#">Banglore, IN</a>
              <a class="dropdown-item" href="#">Raipur, IN</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">All Locations</a>
              <a class="dropdown-item" href="#">FB City</a>

            </div>
        </div>
  </div>
</div>

<br>





<table id="tabl" class="table  table-hover table-responsive" align="center">

    <thead class="border rounded-top " style="background:'#D3D3D3';">
            <!-- <tr><th><center>Listings</center></th></tr> -->
          <tr>
              <th></th>
              <th>Source</th>
              <th>Name</th>
              <th>Address</th>
              <th>City</th>
              <th>Phone</th>
              <th>Rating</th>
              <th>Listed</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
    </thead>

        <tbody>
          <tr>
            <td><i class="fa fa-google" style="font-size:36px" > </i></td>
            <td>Google</td>
            <td>ABC Dental</td>
            <td>Street 2, Central Avenue</td>
            <td>San Jose, CA</td>
            <td>111-111-1111</td>
            <td>3/5</td>
            <td>Yes</td>
            <td><a href="#"><span class="glyphicon glyphicon-ok" style="color:green;"></span></a></td>
            <td></td>
          </tr>
          <tr>
            <td><i class="fa fa-yahoo" style="font-size:36px" > </i></td>
            <td>Yahoo!</td>
            <td>ABC Dental Care</td>
            <td>221-b, Baker Street</td>
            <td>Banglore, IN</td>
            <td>223.222.2222</td>
            <td>4/5</td>
            <td>No</td>
            <td><a href="#"><span class="glyphicon glyphicon-ok"></span></a></td>
            <td></td>
          </tr>
          <tr>
            <td><i class="fa fa-yelp" style="font-size:36px" > </i></td>
            <td>Yelp</td>
            <td>ABC Dental Hospital</td>
            <td>C2, Amrapali Sapphire</td>
            <td>Raipur, IN</td>
            <td>3333-333-3333</td>
            <td>3/5</td>
            <td>No</td>
            <td><a href="#"><span class="glyphicon glyphicon-ok"></span></a></td>
            <td></td>
          </tr>
        </tbody>


      </table>


</div>

<!--<a id="asd" href="/fbapp/update_form?id=" target="_blank">-->
<!--Google-->
<!--</a>-->
<!--<div class="row">-->
<!--    <div class="col-md-12" style="word-wrap:break-word">-->
<!--        {{pages}}-->
<!--        <br><br>-->
<!--        {{personal}}-->
<!--        <br><br><br><br>-->
<!--    </div>-->
<!--</div>-->


<!-- --------------------------------  modal below -------------------- -->

 <!-- The Modal -->
 <div class=" modal" id="modal1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="name_modal"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div>
          <form class="col s12" id="updateData" action="/updatePageDetals" method="post">

          <br>


            <div class="input-field col s12">
              <label for="name">Name</label>
              <input disabled placeholder="Name" id="name" type="text" class="validate">
            </div>

            <div class="row">
                <div class="input-field col s12">
                  <input disabled id="category" type="text" placeholder="Category" class="validate">
                  <label for="category">Category</label>
                </div>
            </div>

            <div class="row">
            <div class="input-field col s12">
              <input disabled id="overall_star_rating" type="text" class="validate" placeholder="Ratings">
              <label for="overall_star_rating"> Star Ratings</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input disabled id="rating_count" type="text" class="validate" placeholder="Rating Count">
              <label for="rating_count">Rating Count</label>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <input disabled id="fan_count" type="text" class="validate" placeholder="Fan Count">
              <label for="fan_count">Fan Count</label>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <input disabled id="link" type="text" class="validate" placeholder="Link">
              <label for="link">Link</label>
            </div>
          </div>



            <div class="row">
                <div class="input-field col-sm-12">
                  <label for="phone">Phone Number</label>
                  <input disabled id="phone" type="text" class="validate rounded" placeholder="Phone">
                </div>
             </div>

             <div class="row">
                <div class="input-field col-sm-12">
                  <label for="whatsapp_number">Whatsapp Number</label>
                  <input disabled id="whatsapp_number" type="text" class="validate rounded" placeholder="whatsapp_number">
                </div>
             </div>


                <div class="row">
                <div class="input-field col s12">
                    <label for="website">Website</label>
                  <input disabled id="website" type="text" class="validate" placeholder="Website">
                </div>
              </div>

              <div class="row">
                <div class="col s12">
                  <div class="input-field inline">
                      <label for="emails" data-error="wrong" data-success="right">Email</label>
                    <input disabled id="emails" type="email" class="validate" placeholder="email">
                  </div>
                </div>
                </div>





              <div class="row">
                <div class="input-field col s12">
                  <label for="general_info">General Info</label>
                  <input disabled id="general_info" type="text" class="validate" placeholder="general_info">
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                    <label for="about">About</label>
                  <input disabled id="about" type="text" class="validate" placeholder="About">
                </div>
              </div>


              <div class="row">
                <div class="input-field col s12">
                    <label for="bio">Bio</label>
                  <input disabled id="bio" type="text" class="validate" placeholder="Bio">
                </div>
              </div>

             <div class="row">
                <div class="input-field col s12">
                    <label for="description">Description</label>
                  <input disabled id="description" type="text" class="validate" placeholder="Description">
                </div>
              </div>


              <div class="row">
                <div class="input-field col s12">
                    <label for="company_overview">Company Overview</label>
                  <input disabled id="company_overview" type="text" class="validate" placeholder="Company Overview">
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                    <label for="impressum">Impressum</label>
                  <input disabled id="impressum" type="text" class="validate" placeholder="impressum">
                </div>
              </div>







               Address<br>

          <div class="row">
                 <div class="input-field col s4">
                  <input id="lname" type="text" class="validate" placeholder="lname">
                  <label for="lname">Name</label>
                </div>

                <div class="input-field col s8">
                  <input disabled id="street" type="text" class="validate" placeholder="street">
                  <label for="street">Street</label>
                </div>

                <div class="input-field col s4">
                  <input disabled id="city" type="text" class="validate" placeholder="city">
                  <label for="city">City</label>
                </div>
          </div>

          <div class="row">
                <div class="input-field col s4">
                  <input disabled id="state" type="text" class="validate" placeholder="state">
                  <label for="state">State</label>
                </div>

                <div class="input-field col s4">
                  <input disabled id="country" type="text" class="validate" placeholder="country">
                  <label for="country">Country</label>
                </div>

                <div class="input-field col s4">
                  <input disabled id="zip" type="text" class="validate" placeholder="zip">
                  <label for="zip">Zip</label>
                </div>
          </div>





          <input id="id" type="text" class="validate" hidden>
          <input id="pageToken" type="text" hidden>

         </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button hidden id="modal_edit_button" type="button" class="btn btn-primary" data-target="_blank">Confirm</button>
          <button id="editPage" type="button" class="btn btn-primary" data-target="_blank">Edit</button>
        </div>


        <input id="id" type="text" class="validate" hidden>
          <input id="pageToken" type="text" hidden>

      </div>
    </div>
  </div>


{% endblock %}